# Ignore configuration files that may contain sensitive information.
*/sites/*/*settings*.php

# Ignore paths that contain generated content.
*/cache/
*/files/
*/sites/*/files
*/sites/*/private

# We automatically generate this
*/sites/.gitignore

# Ignore common editor temp files and whatnot:
*~
DEADJOE
*.swp
.DS_Store

# More things to ignore
ssu-test

# Automatically added things
panopoly-7.x-1.22-0
panopoly-7.x-1.25-2
panopoly-7.x-1.25-20150814
panopoly-7.x-1.25-20150817
--20150817
--20150817
panopoly-7.x-1.25-20150818
panopoly-7.x-1.26-20150820
panopoly-7.x-1.26-20150824
panopoly-7.x-1.27-20150902
panopoly-7.x-1.27-20150909
panopoly-7.x-1.27-20150917
panopoly-7.x-1.27-20150924
panopoly-7.x-1.27-20151008
