# Ignore configuration files that may contain sensitive information.
*/sites/*/*settings*.php

# Ignore paths that contain generated content.
*/cache/
*/files/
*/sites/*/files
*/sites/*/private

# We automatically generate this
*/sites/.gitignore

# Ignore common editor temp files and whatnot:
*~
*.swp
.DS_Store

